<section class="us">
      <article class="uspic"></article>
      <section class="missvis">
        <article class="mission">
          <div>
            <h1>OUR MISSION</h1>
            <h2>Creating valuable content for creatives all around the world.</h2>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, minus. Magni earum repellat commodi odit delectus eius minima sequi molestias.</p>
        </article>
        <article class="vision">
          <div>
            <h1>OUR VISION</h1>
            <h2>A platform that empowers individuals to improve.</h2>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, minus. Magni earum repellat commodi odit delectus eius minima sequi molestias.</p>
        </article>
      </section>
    </section>