{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans 'Set Password' %}
{% endblock %}
{% block css %}
  {% static 'passwords/reset.css' %}
{% endblock %}
{% block content %}
  <script src="{% static 'passwords/reset.js' %}" defer></script>

  <main>
    <img loading="lazy" id="women" src="{% static 'connect.png' %}" alt="" />
    <section>
      {% element h1 %}
      {% trans 'Set Password' %}
      {% endelement %}
      {% url 'account_set_password' as action_url %}
      {% element form method='post' action=action_url %}
      {% slot body %}
      {% csrf_token %}
      {% element fields form=form %}
      {% endelement %}
      {% endslot %}
      {% slot actions %}
      {% element button type='submit' name='action' %}
      {% trans 'Set Password' %}
      {% endelement %}
      {% endslot %}
      {% endelement %}
    </section>
  </main>
{% endblock %}
