{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ request.user.username }}'s Saved Posts
{% endblock %}
{% block css %}
  {% static 'saved_posts/style.css' %}
{% endblock %}
{% block content %}
  <main>
    <h1>Saved posts</h1>
    <section class="container">
      {% if items %}
        {% for item in items %}
          <article class="post">
            <img loading="lazy" src="{{ item.post.image.url }}" alt="post" />
            <div>
              
              <a href="{% url 'category_posts' item.post.category.pk %}" id="category">{{ item.post.category.pk|upper }}</a>
              <h3><a href="{% url 'article' item.post.pk %}">{{ item.post.title }}</a></h3>
              <p>{{ item.post.excert|truncatechars:150 }}.</p>
            </div>
          </article>
        {% endfor %}
      {% else %}
        <p>your haven't saved any articles.</p>
      {% endif %}
    </section>
  </main>
{% endblock %}
