{% load static %}
<link rel="stylesheet" href="{% static 'categories.css' %}" />

{% if categories %}
  <h2 class="section_title">Categories</h2>
  <ul class="categories">
    {% for category in categories %}
      <a href="{% url 'category_posts' category.pk|lower %}">
        <li>
          <img loading="lazy" loading="lazy" src="{{ category.image.url }}" alt="logo" />
          <h3>{{ category.name|title }}</h3>
          <p>{{ category.description }}</p>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endif %}
