{% load static %}

{% if authors %}
  <h2 class="section_title">Authors</h2>
  <ul class="authors" x-data="navigationHandler()">
    {% for author in authors %}
      <li class="author" x-on:click='goToLink("{% url "author_posts" author.pk %}")'>
        <img loading="lazy" src="{{ author.image.url }}" alt="author" />
        <div>
          <h3>{{ author.name|title }}</h3>
          <p>{{ author.description|slice:':18' }}...</p>
          <ul>
            {% if author.facebook %}
              <li>
                <a href="{{ author.facebook }}" @click.stop ><img loading="lazy" src="{% static 'landing/facebook.svg' %}" alt="facebook" /></a>
              </li>
            {% endif %}
            {% if author.instagram %}
              <li>
                <a href="{{ author.instagram }}" @click.stop ><img loading="lazy" src="{% static 'landing/instagram.svg' %}" alt="instagram" /></a>
              </li>
            {% endif %}
            {% if author.twitter %}
              <li>
                <a href="{{ author.twitter }}" @click.stop><img loading="lazy" src="{% static 'landing/twitter.svg' %}" alt="twitter" /></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
<script>
        function navigationHandler() {
            return {
                goToLink(url) {
                    window.location.href = url;
                }
            };
        }
    </script>