{% load static %}
<div class="post_author">
  <a href="{% url 'author_posts' article.author.pk %}"
    ><img loading="lazy" src="{{ article.author.image.url }}" alt="author"
  /></a>
  <div>
    <a class="author" href="{% url 'author_posts' article.author.pk %}"
      >{{ article.author.name|title }}</a
    >
    <p>
      <a href="{% url 'category_posts' article.category.pk %}"
        >{{ article.category.name|upper }}</a
      >
      | {{ article.created_at|date:'N j, Y, H:m:s' }}
    </p>
  </div>

  {% if user.is_authenticated %}
  {% if is_bookmarked %}
  {% include 'partials/bookmarked.html' %}
  {% else %}
  {% include 'partials/bookmark.html' %}
  {% endif %}
  {% if is_scheduled %}
  {% include 'partials/scheduled.html' %}
  {% else %}
  {% include 'partials/schedule.html' %}
  {% endif %}
  {% endif %}
</div>
