{% load static %}

<link rel="stylesheet" href="{% static 'post.css' %}" />
<main>
  <hr />
  <h2>Similar posts:</h2>
  <hr />

  <section class="posts">
    {% for article in articles %}
      <article class="post">
        <img loading="lazy" src="{{ article.image.url }}" alt="post" />
        <div>
          <a href="{% url 'category_posts' article.category.pk %}" id="category">{{ article.category.pk|upper }}</a>
          <h3><a href="{% url 'article' article.pk %}">{{ article.title }}</a></h3>
          <p>{{ article.excert|truncatechars:150 }}.</p>
        </div>
      </article>
    {% endfor %}
  </section>
</main>
