{% load static %}
<article class="post_content">
  <h1>{{ article.title }}</h1>

  <img src="{{ article.image.url }}" alt="article image" />
  <h2>{{ article.excert }}</h2>

  <div class="content">
    {{ article.content|safe }}

    <div class="actions">
      <div class="rating">
        <div class="rt">
           <span class="up" hx-post="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "src":"up"}'  hx-target=".rt">&uarr;</span>
        <span class="count up_count">{{ article.upvote}}</span>
        <span class="down" hx-post="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "src":"down"}'  hx-target=".rt">&darr;</span>
        <span class="count">{{ article.downvote}}</span>
        <img src="{% static 'article/comment.svg' %}" alt="comment icon" id="commentIcon" />
        <span class="count">{{ count }}</span>
        </div>
        <div class="sharethis-inline-share-buttons" ></div>
      </div>
    </div>
  </div>
</article>
